body {
   max-width: 230px;
  

    background: linear-gradient(-405deg,#080808,#626d6a66,#000000,#605d5e);
    background-size: 300% 300%;
    animation: color 10s ease-in-out infinite;
  }
  
  @keyframes color {
    0% {
      background-position: 0 500%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 500%;
    }
  }
   
 
 
 
 .glow{
   font-size:3rem;
   top: -5%;
   left: 10%;
   color:rgb(5, 5, 5);
   font-family: 'Merienda', cursive;
   animation-name:glow;
   animation-duration:0.85s;
   animation-iteration-count:infinite;
   animation-direction:alternate;
   position: relative;
 }
 
 @keyframes glow{
   from{text-shadow:0px 0px 5px #fff,0px 0px 5px #d3d1db;}
   to{text-shadow:0px 0px 20px #fff,0px 0px 20px #614ad3;}
 }
 
.a{
  font-weight:bold ;
  
  border-radius: 10px 30px 20px 0px;
  border-color: #0088ff;
  border-style: dashed;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.973);
  color:rgba(6, 245, 34, 0.971);
  margin-left: 180px;
   animation-name:glow;
   animation-duration:0.85s;
   animation-iteration-count:infinite;
   animation-direction:alternate;
   position: relative;
   margin-top: 10px;
  
}

.a:hover{
    border-radius: 20px 20px 0px;
    background-color: aqua;
    color: #000000;


}

 @property --rotate {
   syntax: "<angle>";
   initial-value: 132deg;
   inherits: false;
 }
 
 
 .card {
  
  max-width:  200px;
   padding: 3px;
   position: relative;
   
 }
 
 .card::before {   
    content: "";
   width: 109%;
   height: 252px;
   border-radius: 18px;
   background-image: linear-gradient(var(--rotate), #5dff86, #603ce3 43%, #c20098);
   position: absolute;
   z-index: -1;
   
   margin-top: 9px;
   left: 8%;
   animation: spin 1s linear infinite;
 }
 @keyframes spin {
   0% {
       --rotate: 0deg;
   }
 
   100% {
       --rotate: 360deg;
   }
 }
 
 .card2 {
  
   max-width:  200px;
    padding: 3px;
    position: relative;
    
  }
  
  .card2::before {   
   content: "";
   width: 109%;
   height: 250px;
   border-radius: 18px;
   background-image: linear-gradient(var(--rotate), #f3f3f3, #603ce300 43%, #c2b000);
   position: absolute;
   z-index: -1;
   margin-top: -132px;
   left: 7%;
   animation: spin 1s linear infinite;
  }
 
  
 .card3 {
  
   max-width:  200px;
    padding: 3px;
    position: relative;
    
  }
  
  .card3::before {   
   content: "";
   width: 109%;
   height: 342px;
   border-radius: 18px;
   background-image: linear-gradient(var(--rotate), #0398dd, #60dc7087 , #54ea68);
   position: absolute;
   z-index: -1;
   margin-top: -30px;
   left: 190%;
   animation: spin 1s linear infinite;
  }
 
  .card4 {
  
   max-width:  200px;
    padding: 3px;
    position: relative;
    
  }
  
  .card4::before {   
   content: "";
   width: 107%;
   height: 245px;
   border-radius: 18px;
   background-image: linear-gradient(var(--rotate), #318eb9, #11111187 , #08088f);
   position: absolute;
   z-index: -1;
   margin-top: -184px;
   left: 569%;
   animation: spin 1s linear infinite;
  }
 
  .card5 {
  
   max-width:  200px;
    padding: 3px;
    position: relative;
    
  }
  
  .card5::before {  
        content: "";
   width: 107%;
   height: 277px;
   border-radius: 18px;
   background-image: linear-gradient(var(--rotate), #149edd, #d7d6e187 , #0088ff);
   position: absolute;
   z-index: -1;
   margin-top: -223px;
   left: 383%;
   animation: spin 1s linear infinite;
  }
  .card6 {
  
   max-width:  200px;
    padding: 3px;
    position: relative;
    
  }
  
  .card6::before {   
   content: "";
   width: 107%;
   height: 295px;
   border-radius: 18px;
   background-image: linear-gradient(var(--rotate), #5b4ee0, #21a76e , #de12ec66);
   position: absolute;
   z-index: -1;
   margin-top: -203px;
   left: 385%;
   animation: spin 1s linear infinite; }
 
 
 
 .profile{
     width : 200px;
     height: auto ;
     margin-left: 25px ;
     border-radius:18%;
     box-shadow: -3px 4px transparent; 
     max-width: 200px;
     margin-top: 25px;
 }
 .chat{
     width : 200px;
     height: auto ;
    margin-left: 25px ;
     border-radius:18%;
     box-shadow: -3px 4px #9e7b6f;
     max-width: 200px;
     margin-top: -124px;
 }
 .atte{
     width : 200px;
     height: auto ;
     margin-left:400px ;
     border-radius:18%;
     box-shadow: -3px 4px #9e7b6f;
     max-width: 200px;
     margin-bottom: -15px;
 }
 .pdf{
     width : 200px;
     height: auto ;
     margin-left:800px ;
     border-radius:18%;
     box-shadow: -3px 4px #9e7b6f;
     max-width: 200px;
     margin-top: -218px;
 }
 .table{
     width : 200px;
     height: auto ;
     margin-left:800px ;
     border-radius:18%;
     box-shadow: -3px 4px #9e7b6f;
     max-width: 200px;
     margin-top: -200px;
 }
 .results{
   width: 200px;
   height: auto;
   margin-left: 1181px;
   border-radius: 18%;
   box-shadow: -3px 4px #9e7b6f;
   max-width: 200px;
   margin-top: -199px;
 }
 .pro{
   
   margin-left: 84px;
   font-size: 32px;
   margin-top: -4px;
 }
 .me{
   
  
   margin-left: 84px;
   font-size: 32px;
   margin-top: 2px; 
   color:rgb(236, 238, 223);
 }
 .att{
   margin-left: 425px;
   font-size: 32px;
   margin-top: 8px;
   
 }
 .not{
   margin-left: 860px;
   font-size: 32px;
   margin-top: 2px;
 }
 
 .ta{
   margin-left: 842px;
   font-size: 32px;
   margin-top: 2px;
   
 }
 
 .re{
   margin-left: 1222px;
   font-size: 32px;
   margin-top: 2px;
   color: white;
 }